section.chat__messages
section.chat__form
    input.chat__input.chat__input--name(
        type="text"
        placeholder="Nickname"
    )
    input.chat__input.chat__input--message(
        type="text"
        placeholder="Message"
    )